@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');Ss

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

* {
  box-sizing: border-box;
}

a{
  color: #ff8400;
  font-family: 'Yanone Kaffeesatz';
}


body {
  background: #3952a3;
  color: #485e74;
  line-height: 1.6;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-family: 'Yanone Kaffeesatz';
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family:  'Yanone Kaffeesatz';
 

}

.brand span {
  color: #818285;
  font-size: 200 !important ; 
  font-weight: 400% !important


}
li{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
 
span{
  font-size: 20px;
  
}



.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}



/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */
.page4 .envelopes {
    position: relative;
    width: 469px;
    /* top: -25px; */
    left: 222px;
}
.company-info {
  color: #ff8400;
  border-top-right-radius: 4px;
  background-image: linear-gradient,grey);
  font-size: 20px;
 }

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */
.label{
font-size: 200%;
color: #818285
}

.contact {
  background-image: linear-gradient, grey); 
    border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.contact, .titles{
  padding-left: 200px;
}


/* ---- */
/* FORM */
/* ---- */


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
  }

  .wrapper > * {
    padding: 2em;
    background-image: linear-gradient(to bottom, #818285 );
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
} 

#form_wrap {
  overflow: hidden;
  height: 446px;
  position: relative;
  top: 0px;
  -webkit-transition: all 1s ease-in-out .3s;
  -moz-transition: all 1s ease-in-out .3s;
  -o-transition: all 1s ease-in-out .3s;
  transition: all 1s ease-in-out .3s;
}



#form_wrap {
    overflow: hidden;
    height: 446px;
    position: relative;
    top: 0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}
body, div, h1, h2, form, fieldset, input, textarea, footer, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
user agent stylesheet
div {
    display: block;
}



body {font-family: 'Yantramanav', sans-serif;
  }


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff8400;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #818285;
}

.container  {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.inset{
  border: 3px solid #818285 ;

}