
          
          
            <div class="wrapper">
          
              <!-- COMPANY INFORMATION -->
              <div class="company-info">
                  <ul>
                    <h1 class="brand"><span>Contact Us </span></h1>  
                    <hr>             
                    <br>
                    <a href="https://www.google.com/maps/place/920+Justison+St,+Wilmington,+DE+19801/@39.7299874,-75.5619866,15z/data=!4m13!1m7!3m6!1s0x89c6fd62cce7d455:0x1c78935e21827a36!2s920+Justison+St,+Wilmington,+DE+19801!3b1!8m2!3d39.7298939!4d-75.5619547!3m4!1s0x89c6fd62cce7d455:0x1c78935e21827a36!8m2!3d39.7298939!4d-75.5619547"  class="fa fa-road">920 Justison St.</a>
                    <br>
                  <br>
                  <li><i class="fa fa-phone"></i> (555) 555-5555</li>
                  <br>
                  
                  <li><i class="fa fa-envelope"></i> someone@codedifferently.com</li>
                </ul>
                <br>
                <br>
                <br>

                <p>
                        <label class="label">Program interest</label>
                        <br>
                        <input type="radio"  name="program-interest"><span>Professional</span>
                        <br>
                        <input type="radio" name="program-interest"><span>Platform</span>
                        <br>
                        <input type="radio" name="program-interest"><span>Pipeline</span>
                        
                </p>
                
              </div>
              <!-- End .company-info -->
              

              
<div class="container">
        <form action="/action_page.php">
        <label for="fname">First Name </label>
          <input type="text" id="fname" name="firstname" placeholder="Your first name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
        

          <label for="lname">Phone Number</label>
          <input type="text" id="Phone" name="Phone" placeholder="Enter Mobile Number">
      
          <label for="subject">Brief message</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
        </form>
      </div>
          
             